
EncryptionExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EncryptionExample/obj/Debug/EncryptionExample.csproj.FileListAbsolute.txt
EncryptionExample/obj/Debug/EncryptionExample.csprojAssemblyReference.cache
EncryptionExample/obj/Debug/EncryptionExample.exe
EncryptionExample/obj/Debug/EncryptionExample.pdb
EncryptionExample/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
EncryptionExample/obj/Release/EncryptionExample.csproj.FileListAbsolute.txt
EncryptionExample/obj/Release/EncryptionExample.csprojAssemblyReference.cache
EncryptionExample/obj/Release/EncryptionExample.exe
EncryptionExample/obj/Release/EncryptionExample.pdb
.vs/EncryptionExample/v16/Server/sqlite3/storage.ide
.vs/EncryptionExample/v16/Server/sqlite3/db.lock
.vs/EncryptionExample/v16/.suo
